<h1>Admin Login</h1>
<% form_for :session, :url => session_path, :html => {:class => "base"} do |f| -%>
<ul>
  <li>
    <%= f.label :login %>
    <%= f.text_field :login %>
  </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.label :remember_me, nil %>
    <%= f.check_box :remember_me %>
  </li>
  <li>
    <%= link_to "I forgot my password", forgot_url %>
  </li>
  <li class="buttons">
    <%= submit_tag 'Log in' %>
    or
    <%= link_to "Cancel", root_url %>
  </li>
</ul>
<% end -%>
